:root {
    --main-color: rgba(84, 58, 183, 1);
    --back-color: #FFF;
}



*,
*::after,
*::before {
    box-sizing: border-box;
}



/* Scroll-bar */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: var(--back-color);
}

.global_wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*
header {
    border: 4px solid green
}

main{
    flex: 1 1 auto;
    border: 4px solid red
}

footer {
    border: 4px solid yellow
}
*/

.wrapper {
    width: 70%;
    margin: 0 auto;

}


/* Мобильная версия */
@media (orientation: portrait) {
    .wrapper {width: 100%}
}
