header > .wrapper > div {
    display: grid;
    grid-gap: 0 20px;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "Hlogo Hcity Hbutn"
                         "Hlogo Hstrt Hbutn";
    align-items: center;
/*    border: 1px solid red*/
}

header .butn {
    grid-area: Hbutn;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: right;
    justify-items: center
    
}

header > .wrapper > div > .butn > a {
    height: 100px;
    margin: 0 20px;
    aspect-ratio: 1/1;
/*    border: 5px solid orange;*/
    text-align: center;
    border: 3px solid transparent;
    border-radius: 6px;
    padding: 10px;
    
    &:hover {
        border: 3px solid var(--main-color);
    }
}

header .butn .icon {
    height: 100%;
    aspect-ratio: 1/1;
    fill: var(--main-color);
    
/*    border: 1px solid blue*/
}

header .logo {
    grid-area: Hlogo;
}

header .city {
    grid-area: Hcity;
}

header .strt {
    grid-area: Hstrt;
}