.result {
    display: grid;
    grid-gap: 10px 40px;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas: "result_date result_price result_buy"
                         "result_info result_price result_buy";
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.4);
    
    padding: 20px;
    border-radius: 8px;
    align-items: center;
}

.result > :nth-child(1) {grid-area: result_date}
.result > :nth-child(2) {grid-area: result_price}
.result > :nth-child(3) {grid-area: result_buy}
.result > :nth-child(4) {grid-area: result_info}

.result > :nth-child(3) {}
.result > :nth-child(3) > div {
    white-space: nowrap;
    cursor: pointer;
    color: #FFF;
    font-size: 1.4em;
    border-radius: 4px;
    padding: 12px 14px;
    background-color: var(--main-color);
}